.sign-up{
    display: flex;
    flex-direction: column;
    width: 480px;
    
    
    .title{
        margin: 10px 0;
    }

    .buttons{
        @media screen and (max-width: 767px) {
            width : 80vw;
          
         }
    
    
         @media screen and (max-width: 1074px) and (min-width: 768px){
            width : 20vw;
         }
    }

    @media screen and (max-width: 767px) {
        width : 80vw;
        
     }

    

     @media screen and (max-width: 1074px) and (min-width: 768px){
        width : 30vw;
     }

}